header a {
    background-color: white;
    color: lightslategray;
}

a {
    text-decoration: none;
    color: lightslategrey;
    border: 3px solid lightslategray;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

.ananas {
    display: flex;
    justify-content: center;
    height: 25px;
    width: 120px;
}
